.mi-clase{
    color: red;
}

.mi-clase1{
    color: aqua;
}
.mi-clase2{
    font-size: x-large;
}

.mi-clase3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}